# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.db
*.opendb

# Compilación
Debug/
Release/
x64/
x86/
bin/
obj/

# Archivos generados
*.exe
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.idb
*.recipe

# Precompiled headers
ipch/
*.ipch